<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Node Website</title>
    <%- include('partials/head.html'); -%>
    <style>
        body {
            font-family: 'Spicy Rice', cursive;
        }
    </style>
</head>

<body>
    <%- include('partials/navigation.html'); -%>

    <div class="container">
        <header class="row">
            <div class=".col-lg-12 text-center">
                <img src="/img/pews-logo.png" class="animated bounceIn" alt="">
            </div>
        </header>

        <!-- SECTION ONE-->
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
                <div class="col-sm-6">
                    <h3>The most suscribed Youtuber</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores nostrum rem ad temporibus
                        libero tempora aut recusandae. Quam accusamus harum animi ullam vitae ducimus, porro fugit natus
                        aspernatur soluta. Error!</p>
                </div>

            </div>
        </div>

    </div>
    <%- include('partials/footer.html'); -%>

</body>

</html>